@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1,100;0,1,200;0,1,300;0,1,400;0,1,500;0,1,600;0,1,700;0,1,800;0,1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

aside {
    width: 280px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.1rem;
    background-color: #212529;
    backdrop-filter: blur(20px);
}

.links {
    display: flex;
    flex-direction: column;
    margin: auto;
}

aside li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 10px;
    color: white;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
}

aside li:hover {
    color: #e6e46f;
}

aside li::after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff24, transparent);
    content: '';
    bottom: 0;
}

.activateLink {
    color: #e6e46f;
}

.mySwiper {
    flex: 1;
    height: 100%;
}

.home-slide {
    color: white;
    display: flex;
    background-color: #343a40;
}

.home-content {
    margin: auto 0;
    flex: 1;
    height: auto;
}


.side-img {
    width: 30%;
    margin: auto 10px;
    margin-right: 100px;
    position: relative;
}

.side-img img {
    width: 100%;
    border-radius: 10px;
}

.side-img .top-right-corner, .bottom-left-corner {
    position: absolute;
}

.bottom-left-corner {
    left: -50px;
    bottom: -50px;
    transform: rotate(-90deg);
}

.top-right-corner {
    left: -50px;
    bottom: -50px;
    transform: rotate(90deg);
}

.hr1 {
    width: 150px;
    height: 10px;
    border: none;
    background: #e6e46f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hr2 {
    width: 10px;
    height: 120px;
    border: none;
    background: #e6e46f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-content h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-content h2 {
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.home-content h1 .stylized-name {
    font-weight: 700;
    color: #e6e46f;
}

.professions {
    color: #e6e46f;
}

.home-content .hero-line {
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 50px;
}

.button-group {
    display: flex;
    padding: 10px 0;
    margin: 10px;
}

.button-group button, .primary {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
    background-color: #86841d;
    color: white;
    border-radius: 5px;
}

.slide-help {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    z-index: 100;
    left: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.mySwiper {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    background-color: #403f34;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    background-color: #343a40;
}

.about-us {
    width: 100%;
    height: 100%;
    padding: 100px;
    color: white;
}

.heading {
    padding: 20px 10px;
    font-size: 2.5rem;
    color: #e6e46f;
}

.about-us h3 {
    padding: 10px;
}

.aboutme-details {
    padding: 20px;
    font-weight: 300;
}

.about-me-division {
    display: flex;
}

.about-me-table {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.about-me-table li {
    padding: 20px;
    position: relative;
}

.about-me-table li::after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background: linear-gradient(to left, transparent, #eecd1385, transparent);
    bottom: 0;
}

.about-me-table .button-group {
    grid-column: 1/span 2;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.skill-bar {
    width: 40%;
}

.skill-bar li {
    width: 100%;
    padding: 10px;
}

.skill-bar p {
    color: #e6e46f;
    font-weight: bold;
    margin: 10px;
}

.skill-bar .bar {
    background-color: #e6e46f;
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.services {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, calc(34% - 10px));
    grid-template-rows: 100px calc(50% - 50px) calc(50% - 50px);
    padding: 100px;
    box-sizing: border-box;
}

.services .heading {
    grid-column: 1/span 3;
}

.services .service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.services .service i {
    font-size: 3rem;
    color: #e6e46f;
}

.services .service .service-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}

.service h2 {
    color: #e6e46f;
}

.service:hover {
    background-color: #e6e46f;
    color: #86841d;
}

.service:hover h2, .service:hover i {
    color: #86841d;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 100px;
    grid-template-rows: 100px calc(50% - 50px) calc(50% - 50px);
}

.gallery h1 {
    grid-column: 1/span 3;
}

.gallery .project {
    margin: 25px 20px;
    margin-top: 0;
    background: #3f3b29;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.gallery .project .img{
    margin-right: 10px;
}

.contactMe {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80px calc(25% - 20px) calc(25% - 20px) calc(25% - 20px) calc(25% - 20px);
    position: relative;
    padding: 100px;
}

.contactMe h1 {
    grid-column: 1/span 3;
    font-size: 2.5rem;
    padding: 30px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactinfo i {
    padding: 10px;
    font-size: 2.5rem;
    color: #e6e46f#86841d;
    margin: 20px auto;
}

.contactinfo h3 {
    color: #e6e46f;
}
